
services:
  frontend:
    build:
      context: ./FrontDeploy
      dockerfile: Dockerfile
    ports:
      - "5000:5000"

    env_file:
      - ./FrontDeploy/.env
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build:
      context: ./Deploy
      dockerfile: Dockerfile
    ports:
      - "9000:9000"
    env_file:
      - ./Deploy/.env
    networks:
      - app-network

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    networks:
      - app-network
    volumes:
      - /home/weddingzvenue/custom.conf:/etc/nginx/conf.d/default.conf

networks:
  app-network:
    driver: bridge
