
services:
  frontend:
    build:
      context: ./FrontDeploy
      dockerfile: Dockerfile
    ports:
      - "5000:5000"

    env_file:
      - ./FrontDeploy/.env
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build:
      context: ./Deploy
      dockerfile: Dockerfile
    ports:
      - "9000:9000"
    env_file:
      - ./Deploy/.env
    networks:
      - app-network

  nginx:
    build:
      context: ./Nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - frontend
      - backend
    networks:
      - app-network
    volumes:
      - /home/weddingzvenue/custom.conf:/etc/nginx/conf.d/default.conf
      - /etc/ssl/certs/nginx-selfsigned.crt:/etc/ssl/certs/nginx-selfsigned.crt:ro
      - /etc/ssl/private/nginx-selfsigned.key:/etc/ssl/private/nginx-selfsigned.key:ro

networks:
  app-network:
    driver: bridge
