/* Import slick-carousel CSS files */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;


